#login{
    padding: 40px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 20px;
}

#signup{
    padding: 40px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 20px;
}

#alert{
    display:none;
}

#alert1{
    display:none;
}

.panel{
    margin-top: 120px;
}

#update{
    padding: 40px;
    margin-top: 70px;
}

#item{
    padding: 40px;
    margin-top: 40px;
}

#jumbo{
    margin-top: 120px;
}
.footer{
    position:fixed;
    bottom:0;

    margin-top: 10px;;
    width: 100%;

    padding: 5px 5px;
    background: #FF4D4D;
    text-align:center;
    color:greenyellow;
}
